#tab-bar.demo {
  display: flex;
  flex-direction: column;
}

#tab-bar .demo-preview-item .am-tab-bar {
  background-color: white;
}
.homediv-top{
  width: 100%;
  height: 150px;
  background-color: rgb(250, 241, 227);
  padding-top: 5px;
}
.homediv-top-div div{
  text-align: center;
  font-size: 18px;
  color: white;
  padding-top: 45px;
}